<!DOCTYPE html>
<html lang="en">

<head>
    <title>course</title>
    <style>
         .box {
            margin: 25px;  
        }
        hr {
            margin-right: 25px;
        }

        #bg1 {
            background-color: #8BC6EC;background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
;
            /* background-color: #f4b328; */
            margin-top:160px;
        }
        #bg2 {
            /* background-color: #f4b328; */
            background-color: linear-gradient( rgba(1, 7, 22, 0.5) 29.26%, rgba(1, 7, 22, 0.1));
            margin-top:40px;
        }

        [class~=para] {
            margin-left: 18px;
            color: white;
        }

        .info {
            color: white;
            cursor: pointer;
        }

        .info:hover {
            color: red;
        }
        .main-div {
            display: flex;
            justify-content: space-between;
        }
        /* =================== */
    </style>
</head>

<body>
    
{% comment %} 
    <section class="container">
        <div class="main-div">
            <div id="bg1">
                <div class="box">
                    <h4>Web devlopment</h4>
                    <form method="get">
                        <input type="text" name="servicename">
                        <input type="submit" value='Search'>
                    <form>
                </div>
            </div>
        </div>
    </section> {% endcomment %}


    <section class="container">
        <div class="main-div">
            <div id="bg1">
                <div class="box">
                    <h4>Web devlopment</h4>
                    <p class="para">Are you planning to travel to Japan<br>
                        but are worried about the language<br>
                        barrier? Then this is the course for<br>
                        you! In this course, you will learn
                    </p>
                    <p>Course Fees - Rs 3000</p>
                    <h4><u>OFFERS</u></h4>
                    <p>Pay in full and only pay - Rs 3000</p>
                    <p>Pay in 3 easy installments of Rs 3000</p>
                    <a class="info" href="webdev.html">Read More</a>
                    <hr>
                    <a id="reg-link" href="registration.html">Click here for admission</a>
                </div>
            </div>
            <div id="bg1">
                <div class="box">
                    <h4>Programming with Python</h4>
                    <p class="para">Are you planning to travel to Japan<br>
                        but are worried about the language<br>
                        barrier? Then this is the course for<br>
                        you! In this course, you will learn
                    </p>
                    <p>Course Fees - Rs 3000</p>
                    <h4><u>OFFERS</u></h4>
                    <p>Pay in full and only pay - Rs 3000</p>
                    <p>Pay in 3 easy installments of Rs 3000</p>
                    <a class="info" href="python.html">Read More</a>
                    <hr>
                    <a href="registration.html">Click here for admission</a>
                </div>
            </div>
            <div id="bg1">
                <div class="box">
                    <h4>Programming with C and <br> C++</h4>
                    <p class="para">Build a strong programming <br>
                        foundation by learning C and C ++
                    </p>
                    <p>Course Fees - Rs 3000</p>
                    <h4><u>OFFERS</u></h4>
                    <p>Pay in full and only pay - Rs 3000</p>
                    <p>Pay in 3 easy installments of Rs 3000</p>
                    <a class="info" href="cpro.html">Read More</a>
                    <hr>
                    <a href="registration.html">Click here for admission</a>

                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="main-div">
            <div id="bg1">
                <div class="box">
                    <h4>Web devlopment</h4>
                    <p class="para">Are you planning to travel to Japan<br>
                        but are worried about the language<br>
                        barrier? Then this is the course for<br>
                        you! In this course, you will learn
                    </p>
                    <p>Course Fees - Rs 3000</p>
                    <h4><u>OFFERS</u></h4>
                    <p>Pay in full and only pay - Rs 3000</p>
                    <p>Pay in 3 easy installments of Rs 3000</p>
                    <a class="info" href="webdev.html">Read More</a>
                    <hr>
                    <a id="reg-link" href="registration.html">Click here for admission</a>
                </div>
            </div>
            <div id="bg1">
                <div class="box">
                    <h4>Programming with Python</h4>
                    <p class="para">Are you planning to travel to Japan<br>
                        but are worried about the language<br>
                        barrier? Then this is the course for<br>
                        you! In this course, you will learn
                    </p>
                    <p>Course Fees - Rs 3000</p>
                    <h4><u>OFFERS</u></h4>
                    <p>Pay in full and only pay - Rs 3000</p>
                    <p>Pay in 3 easy installments of Rs 3000</p>
                    <a class="info" href="python.html">Read More</a>
                    <hr>
                    <a href="registration.html">Click here for admission</a>
                </div>
            </div>
            <div id="bg1">
                <div class="box">
                    <h4>Programming with C and <br> C++</h4>
                    <p class="para">Build a strong programming <br>
                        foundation by learning C and C ++
                    </p>
                    <p>Course Fees - Rs 3000</p>
                    <h4><u>OFFERS</u></h4>
                    <p>Pay in full and only pay - Rs 3000</p>
                    <p>Pay in 3 easy installments of Rs 3000</p>
                    <a class="info" href="cpro.html">Read More</a>
                    <hr>
                    <a href="registration.html">Click here for admission</a>

                </div>
            </div>
        </div>
    </section>

    <div>&nbsp;&nbsp;</div>

    <section class="container">
        <div class="main-div">
            <div id="bg2">
                <div class="box">
                    <h2>Ethical Hacking </h2>
                    <p class="para">Are you planning to travel to Japan<br>
                        but are worried about the language<br>
                        barrier? Then this is the course for<br>
                        you! In this course, you will learn
                    </p>
                    <p>Course Fees - Rs 3000</p>
                    <h4><u>OFFERS</u></h4>
                    <p>Pay in full and only pay - Rs 3000</p>
                    <p>Pay in 3 easy installments of Rs 3000</p>
                    <a class="info" href="webdev.html">Read More</a>
                    <hr>
                    <a href="registration.html">Click here for admission</a>
                </div>
            </div>
            <div id="bg2">
                <div class="box">
                    <h2>Web devlopment</h2>
                    <p class="para">Are you planning to travel to Japan<br>
                        but are worried about the language<br>
                        barrier? Then this is the course for<br>
                        you! In this course, you will learn
                    </p>
                    <p>Course Fees - Rs 3000</p>
                    <h3><u>OFFERS</u></h3>
                    <p>Pay in full and only pay - Rs 3000</p>
                    <p>Pay in 3 easy installments of Rs 3000</p>
                    <a class="info" href="webdev.html">Read More</a>
                    <hr>
                    <a href="registration.html">Click here for admission</a>
                </div>
            </div>
            <div id="bg2">
                <div class="box">
                    <h2>Web devlopment</h2>
                    <p class="para">Are you planning to travel to Japan<br>
                        but are worried about the language<br>
                        barrier? Then this is the course for<br>
                        you! In this course, you will learn
                    </p>
                    <p>Course Fees - Rs 3000</p>
                    <h3><u>OFFERS</u></h3>
                    <p>Pay in full and only pay - Rs 3000</p>
                    <p>Pay in 3 easy installments of Rs 3000</p>
                    <a class="info" href="webdev.html">Read More</a>
                    <hr>
                    <a href="registration.html">Click here for admission</a>
                </div>
            </div>
        </div>
    </section>
    <div>&nbsp;</div>
    <!-- footer
    footer -->
    {% include "footer.html" %}

    <!-- header -->
    {% include "header.html" %}
</body>

</html>