<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/login_style.css">
</head>

<body>
    <div class="container">
        <div class="main-div">
            <h1 style="margin:40px 125px ;">Academy Login <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Panel</h1>
            <div class="input-group">
                <label for="email">Email id</label><br>
                <input type="text" id="email" required>
            </div>
            <div class="input-group">
                <label for="pass">Password</label><br>
                <input type="password" id="pass" required>
            </div>
            <div class="input-group1">
                <a href="course.html">Select course to enroll</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="box">Send</button>
               <br><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Not a member?</b><a href="registration.html">Signup now</a>
            </div>
            <div>
                <center>
                    If you are facing issues with your login, please contact us at <br> patelomshiv@gmail.com
                </center>
            </div>

        </div>
        <div><img width="500px" src="webicon/login.jpg"></div>
    </div>
</body>

</html>